<input type="radio" name="radioEmp" id="radioDev">&nbsp;Developer
&nbsp;&nbsp;&nbsp;
<input type="radio" name="radioEmp" id="radioHr">&nbsp;Hr
<br />
<br />
<form>
    Id:&nbsp;<input type="text" name="txtId" id='txtId'>
    <br>
    Name:&nbsp;<input type="text" name="txtName" id='txtName'>
    <br>
    Basic:&nbsp;<input type="text" name="txtBasic" id='txtBasic'>
    <br>
    Da:&nbsp;<input type="text" name="txtDa" id='txtDa'>
    <br>
    Hra:&nbsp;<input type="text" name="txtHra" id='txtHra'>
    <br>
    <p id='pExtra'></p>
    <input type="button" value="Add" id='btnAdd'>
</form>