<button id='btnLoad'>Load</button>
<br />
<input type="text" id='txtSearch'>
<br/>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Id
            </th>
            <th>
                Basic
            </th>
            <th>
                Da
            </th>
            <th>
                Hra
            </th>
            <th>
                Salary
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>